<% if (state) { %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
    <% _.each(players(), function(player) { %>
      <tr>
        <td style="width: 100%;"><%= player.name %></td>
        <td><%= player.score %></td>
        <td>
          <button type="button" class="btn btn-danger btn-xs ban pull-right">
            <span class="glyphicon glyphicon-ban-circle"></span> Ban
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-xs kick pull-right">
            <span class="glyphicon glyphicon-user"></span> Kick
          </button>
        </td>
      </tr>
    <% }); %>
    </tbody>
  </table> 
<% } else { %>
  <tr>
    <td>The server is offline and can't be queried.</td>
    <td>&nbsp;</td>
  </tr>
<% } %>
