var auth = require('./accounts.json');

module.exports = {
  games: {
    'reforger': {
      displayName: "Arma Reforger",
      executable: "armareforgerserver.exe",
      path: "S:\\Servers\\Reforger",
      modPath: "S:\\Servers\\Reforger",
      missionPath: "S:\\Servers\\Reforger",
      logPath: "S:\\Servers\\Reforger",
      gamedigQuery: "armareforger"
    },
    'arma3': {
      displayName: "Arma 3",
      executable: "arma3server_64x.exe",
      path: "S:\\Servers\\Arma3",
      modPath: "S:\\Servers\\Arma3",    
      missionPath: "S:\\Servers\\Arma3",    
      logPath: "S:\\Servers\\Arma3",
      gamedigQuery: "arma3"
    }
  },
  logsPath: "S:\\Logs",
  additionalConfigurationOptions: "steamProtocolMaxDataSize = 2048; \
    kickTimeout[] = { {0, 10},{1, 10},{2, 10},{3, 10} };", // Additional configuration options appended to server.cfg file
  parameters: [
    '-noSound',
    '-world=empty',
    '-profiles=profiles'
  ],
  virtualServer: {
    fileExtensions: [ // Extra files in root of server folder that should be copied to virtual servers
      '.json'
    ],
    folders: [
      "profiles",
      "config",
    ]
  },
  port: 4000,
  host: '0.0.0.0', 
  type: 'windows', 
  admins: [], 
  auth: auth,
  prefix: "", // Prefix to all server names
  suffix: "", // Suffix to all server names
  logFormat: "dev", // expressjs/morgan log format
};










